* {
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Kadwa', serif;
}

#main {
    background-color: #e5e5e5;
    margin: 20px 10px;
    border-radius: 10px;
}

#title {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

#title p {
    padding-top: 10px;
}

#img-div {
    padding-top: 30px;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

#img-div img {
    max-width: 80%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#img-div p {
    padding-bottom: 30px;
}

#tribute-info {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

#tribute-info .container {
    margin: auto;
    width: 50%;
}

#tribute-info ul li {
    text-align: start;
    padding: 10px 0;
}

.container {
    background-color: white;
    padding: 1rem 1.2rem;
    border-radius: 10px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
}